[Desktop Entry]
Name=Inno Setup FAQ
Exec=env WINEPREFIX="/opt/gds-wine/prefix" wine-stable C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Inno\\ Setup\\ 6\\\\Inno\\ Setup\\ FAQ.lnk
Type=Application
StartupNotify=true
Path=/opt/gds-wine/prefix/dosdevices/c:/Program Files (x86)/Inno Setup 6
StartupWMClass=isfaq.url
