[Desktop Entry]
Name=Inno Setup Documentation
Exec=env WINEPREFIX="/opt/gds-wine/prefix" wine-stable C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Inno\\ Setup\\ 6\\\\Inno\\ Setup\\ Documentation.lnk
Type=Application
StartupNotify=true
Path=/opt/gds-wine/prefix/dosdevices/c:/Program Files (x86)/Inno Setup 6
Icon=778E_ISetup.0
StartupWMClass=isetup.chm
